  /*
    common.css include 
    - reset css
    - header, footer css
    - header, footer media query css
    - prefix css
  */
  

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');


  /*--------------- RESET ---------------*/

  * {margin: 0;	padding: 0;	border: 0;}
  fieldset{border:0;}

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {display: block;}
  h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd{margin: 0; padding: 0;}
  body {line-height: 1; margin: 0;}
  ol, ul {list-style: none;}
  table {border-collapse: collapse;	border-spacing: 0; cellpadding}
  a{color:inherit; text-decoration: none;}
  address, em, i{font-style: normal; }
  img{border: none; }
  input:focus, select:focus{outline: none}

  /* ROOT CSS */
  :root{
    --font-black:#393939;
    --main-blue:#628395;
    --red: #FF6243;
    --green: #9CB964;
  }

  /*--------------- DEFALUT ---------------*/

  /*html font-size 분기로 사용*/
  html{font-size:62.5%}
  
  body{
    font-size:1.6rem;
    color:var(--black);
    font-family: 'Noto Sans KR', '맑은 고딕', 'Apple Sd Gothic Neo', sans-serif;
    word-break: keep-all;
  }
  
  /*--------------- HEADER ---------------*/

  #header{
    width: 100%;
    height: 68px;
    z-index: 3;
    padding: 12px 0;
    border-bottom:1px solid #ccc;
    position:relative;
    top:0;
    left:0;
    z-index:10;
  }
 

  /*--------------- container layout ---------------*/
  .container{min-height: 430px; margin-top:40px;}  

  .w45{width:450px; margin:0 auto;}
  .w50{width:500px; margin:0 auto;}
  .w60{width:600px; margin:0 auto;}
  .w70{width:700px; margin:0 auto;}
  .w80{width:800px; margin:0 auto;}
  .w90{width:900px; margin:0 auto;}
  .w100{width:1000px; margin:0 auto;}
  .w120{width:1200px; margin: 0 auto;}
  
  /*--------------- font-size ---------------*/
  .fs24{font-size:2.4rem !important} 
  
  /*--------------- Padding / Margin / Display ---------------*/
  .pb4{padding-bottom: 4px;}
  .pb10{padding-bottom:10px !important;}
  .pb12{padding-bottom:12px !important;}
  
  .mb10{margin-bottom:10px !important;}
  .mb25{margin-bottom:25px !important;}
  .mr12{margin-right:12px !important}

  .flex_between{display:flex; justify-content: space-between; flex-wrap: wrap;}
  .flex_agn_center{display: flex; align-items: center;}
  .flex_col{display: flex; flex-direction: column;}


  /*--------------- transition ---------------*/
  .transition02{transition: all 0.2s;}
 

  
  
  /*--------------- BUTTONS ---------------*/
  .pet_btn{
    background: #797979;
    height: 38px;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Noto Sans KR', '맑은 고딕', 'Apple Sd Gothic Neo', sans-serif;
    font-size: 1.2rem;
  }
  
 



  /*--------------- MEDIA QUERY ---------------*/

  /* PC ONLY */
  @media all and (min-width:1201px){
  }

 
  /*태블릿 601~1200 */
  @media all and (min-width:601px) and (max-width:1200px) {
  }
